@model IEnumerable<HomeService.Models.ViewModel.ShowBookingRequests>

@{
    ViewData["Title"] = "BookingRequests";
}

<h1>BookingRequests</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCost)
            </td>
            <td>
                @Html.ActionLink("Accept", "Accept", new {  id=item.BookingId  }) | 
                @Html.ActionLink("Reject", "Edit", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
